<!DOCTYPE html>
<html>
<head>
	<title>Create An Account</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<!-- Custom CSS -->
<link rel="stylesheet" type="text/css" href="stylesheets/register.css">

</head>
<body>

<div class="container-fluid">
  <div class="home-wrapper">
      <img src="./images/toDo-background.jpeg" class="img-responsive">
    </div>
    <div class="form-container"> 
        <div class="row">
          <div class="col-sm-12 text-center">
            <form class="form-inline" action="/register" method="post">
              <div class="form-group">
                <div class="input-group col-sm-12 text-center">
                  <input type="text" class="form-control" placeholder="Name" name="name" />
                  <input type="email" class="form-control" placeholder="email@email.com" name="email" />
                  <input type="text" class="form-control" placeholder="Username" name="user" />
                  <input type="password" class="form-control" placeholder="password" name="password" />
                  <input type="number" class="form-control" placeholder="age" name="age" />
                  <input type="number" class="form-control" placeholder="zipcode" name="zipcode" />
                  <input type="number" class="form-control" placeholder="phonenumber" name="phonenumber" />
                   <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </div>
            </form>
          </div>
        </div>
  </div>
 </div>


</body>
</html>