<!DOCTYPE html>
<html>
<head>
	<title>Create An Account</title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<link rel="stylesheet" type="text/css" href="stylesheets/style.css">

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>


<body>

<div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <div class="col-sm-12 text-danger text-center">
                    	<h1> REGISTER </h1>
                </div>
                <form action="/registerProcess" method="post">
                    <div class="col-sm-12">
                        <input type="text" placeholder="Enter your Name" name="name">
                    </div>
                    <div class="col-sm-12">
                        <input type="email" placeholder="Enter your E-mail" name="email">
                    </div>
                    <div class="col-sm-12">
                        <input type="password" placeholder="Enter your Password" name="password">
                    </div>
                 

                    <div class="col-sm-12">
                        <input type="Age" placeholder="Enter your Age" name="password">
                    </div>

                    <div class="col-sm-12">
                        <input type="Zipcode" placeholder="Enter your Zipcode" name="password">
                    </div>

                    <div class="col-sm-12">
                        <input type="phoneNumber" placeholder="Enter your Phone Number" name="password">
                    </div>

                    <div class="col-sm-12">
                        <button type="submit" class="btn btn-success">REGISTER</button>
                    </div>
                </form>
            </div>
        </div>
  </div>

</body>
</html>