
html, .container-fluid{
    background: url('https://www.dragonboatatlanta.com/assets/uploads/2016/02/cultural-events.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body{
    font-family: 'Heebo', sans-serif;
}

.title {
    background-color: purple;
    background: -webkit-linear-gradient(left top, pink, coral); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, pink, coral); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, pink, coral); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, pink, coral); /* Standard syntax (must be last) */
    color: white;
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    z-index: 2;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow: 3px 3px 5px 6px #ccc;  /* Firefox 3.5 - 3.6 */
    box-shadow: 3px 3px 20px 0px #777272;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */  
}

.title h1{
    font-family: 'Eagle Lake', cursive !important; 
}


.sidebar {
    z-index: 3;
}

span.title-waxon {
    color: white;
    font-size: 80px;
}

 /* START SOCIAL MEDIA ICONS*/
 .fa {
    position: relative;
    top: 0;
    left: 0;
    padding: 15px;
    width: 41px;
    height: 41px;
    text-align: center;
    text-decoration: none;
    margin: 12px 2px;
    border-radius: 51%;
    background: #444;
    color: white;
}

.fa:hover {
    opacity: 0.7; 
    color: black;
    background-color: magenta; 
    text-decoration: none;   
}

/* END OF HEADER BANNER*/

div#home.col-sm-2.home > a {
    position: fixed;
    left: 40px;
    top: 0;
    margin-top: 60px;
    color: white;
    font-size: 20px;
}

@keyframes gohome {
   from{left: 40px; 
   }
   to{left: 10px;
   }
}

div#home.col-sm-2.home > a:hover{
    animation-timing-function: ease !important;
    animation-name: gohome !important;
    animation-duration: 3s !important;
} 

div.main-content {
    margin-top: 160px;
}

 /**************START RESULT CARDS**********/

 .cards{
    color: white;
    border-radius: 5px; 
    padding-top: 10px;
    text-transform: uppercase;
    text-align: center;
    background: purple;
    min-width: 250px;
    height: 250px;
    margin-bottom: 50px;
    background: -webkit-linear-gradient(left top, pink, coral); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, pink, coral); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, pink, coral); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, pink, coral); /* Standard syntax (must be last) */
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow: 3px 3px 5px 6px #ccc;  /* Firefox 3.5 - 3.6 */
    box-shadow: 3px 3px 20px 0px #777272;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
 }

 .cards a{
    color: white;
    text-decoration: none; 
 }

 .cards:hover{
        box-shadow:
                1px 1px white,
                2px 2px white,
                3px 3px white;
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
}

 .card  a:hover{
    text-decoration: underline;
    color: skyblue !important;
 }

.card-image {
    min-height: 110px;
    max-height: 110px;
    overflow: hidden;
}

 .card-image  img{
    display: block; 
    width: 50%;
    height: 50%;
    margin-right: auto;
    margin-left: auto;
 }
 
/******SEARCH CARD STYLES********/

 .category{
    position: fixed !important;
    padding-top: 20px;
    top: 200px;
    left: 5%;
    height: 250px;
    width: 250px;
    color: white;
    border-radius: 5px;
    background: purple;
    background: -webkit-linear-gradient(left top, pink, coral); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, pink, coral); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, pink, coral); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, pink, coral); /* Standard syntax (must be last) */
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow: 3px 3px 5px 6px #ccc;  /* Firefox 3.5 - 3.6 */
    box-shadow: 3px 3px 20px 0px #777272;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
 }

 .category ol{
    list-style: none; 
    padding-left: 0;
 }

 .category input, button{
    border-radius: 15px;
    opacity: 0.8;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    display: block;  
    margin-bottom: 5px;
 }

 .category input {
    width: 194px;
    height: 30px;
    padding: 6px 12px;
    color: black; 
 }

.category button {
    color: white;
    background: pink !important;
    border-style: none;
    font-size: 15px; 
    font-weight: bold;
    width: 80%;
    margin: 0 10%;
    display: inline-block;
}

.category button:hover{
     box-shadow:
                1px 1px white,
                2px 2px white,
                3px 3px white;
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);  
}

.category:hover{
      box-shadow:
                1px 1px white,
                2px 2px white,
                3px 3px white;
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
}

