*{
	box-sizing: border-box;
}

html, body, .container-fluid{
	height: 100%;
	min-width: 100%
}



html{
	overflow-x: hidden;
}



html, .container-fluid{
	background: url('https://s-media-cache-ak0.pinimg.com/originals/19/d7/86/19d7867c2bc2584dfaae78a9e6b1171f.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;


}



/*START HEADER BANNER*/

#header{
	width: 100%;
	height: 100%;
}

#header h1{
	background-color: purple;
	background: -webkit-linear-gradient(left top, orange, red); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, orange, red); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, orange, red); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, orange, red); /* Standard syntax (must be last) */
    color: white;
    width: 102%;
    height: 14vh;
    position: absolute;
    top: -1em;
    margin-top: 1em;
    padding: 0em 0em 2.97em 1em;
    margin-left: -1em;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  	-moz-box-shadow: 3px 3px 5px 6px #ccc;  /* Firefox 3.5 - 3.6 */
  	box-shadow: 3px 3px 20px 0px #777272;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
   
}

#typing-header-wrapper{
    position: relative;
    top: 1em;
    left: 1em;
    text-align: center; 
}


 /* START SOCIAL MEDIA ICONS*/
 .fa {
    position: relative;
    top: 3.3em;
    left: 77em;
    padding: 15px;
    width: 41px;
    height: 41px;
    text-align: center;
    text-decoration: none;
    margin: 12px 2px;
    border-radius: 51%;
}


.fa:hover {
    opacity: 0.7; 
    color: black;
    background-color: yellow; 
    text-decoration: none; 
  
}



/* Facebook */
.fa-facebook {
    background: #444;
    color: white;
}

/* Twitter */
.fa-twitter {
    background: #444;
    color: white;
}

/* Instagram*/
.fa-instagram {
  background: #444;
  color: white;
}

/* Snapshat*/
.fa-snapchat-ghost {
  background: #444;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

/* Tumblr*/
.fa-tumblr {
  background: #444;
  color: white;
}

/* END OF HEADER BANNER*/


#home a{
    position: absolute;
    left: 4em;
    top: 2.5em;
    color: white;
    font-size: 20px;
    
}

#home a:hover{
    animation-timing-function: ease;
    animation-name: gohome;
    animation-duration: 3s;

} 

@keyframes gohome {
   from{right: 10px; 
   }
   to{left: -1px;
   }
}



 /**************START RESULT CARDS**********/
 .cards{
 	position: absolute !important;
 	left: 45em;
 	top: 14em;
 	height: 45vh;
 	color: white;
    border-radius: 5px; 
    text-transform: uppercase;
    text-align: center;
 	background: purple;
 	background: -webkit-linear-gradient(left top, orange, red); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, orange, red); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, orange, red); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, orange, red); /* Standard syntax (must be last) */
 	-webkit-box-shadow: 3px 3px 5px 6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  	-moz-box-shadow: 3px 3px 5px 6px #ccc;  /* Firefox 3.5 - 3.6 */
  	box-shadow: 3px 3px 20px 0px #777272;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
 }

 .cards a{
    color: white;
    text-decoration: none; 
 }

 .cards:hover{
        box-shadow:
                1px 1px yellow,
                2px 2px yellow,
                3px 3px yellow;
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
}

.cards2:hover{
     box-shadow:
                1px 1px yellow,
                2px 2px yellow,
                3px 3px yellow;
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);

}

 .cards2 a{
    color: white;
    text-decoration: none; 

 }

 .card  a:hover{
    text-decoration: underline;
    color: skyblue !important;
 }

 .cards2 a:hover{
    text-decoration: underline;
    color: skyblue !important;

 }

 .card-image  img{
    display: block; 
    width: 50%;
    height: 50%;
    margin-right: auto;
    margin-left: auto;

 }

 .card-image2 img{
    display: block; 
    width: 50%;
    height: 50%;
    margin-right: auto;
    margin-left: auto;

 }

 .cards2{
    position: absolute !important;
    left: 72em;
    top: 14em;
    height: 45vh;
    color: white;
    border-radius: 5px; 
    text-transform: uppercase;
    text-align: center;
    background: purple;
    background: -webkit-linear-gradient(left top, orange, red); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, orange, red); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, orange, red); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, orange, red); /* Standard syntax (must be last) */
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow: 3px 3px 5px 6px #ccc;  /* Firefox 3.5 - 3.6 */
    box-shadow: 3px 3px 20px 0px #777272;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
 }

 
/******SEARCH CARD STYLES********/


 .category{
 	position: fixed !important;
 	padding-top: 2em;
 	top: 17em;
 	left: 5em;
 	height: 34.5vh;
    border-radius: 5px;
 	background: purple;
 	background: -webkit-linear-gradient(left top, orange, red); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, orange, red); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, orange, red); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, orange, red); /* Standard syntax (must be last) */
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  	-moz-box-shadow: 3px 3px 5px 6px #ccc;  /* Firefox 3.5 - 3.6 */
  	box-shadow: 3px 3px 20px 0px #777272;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */

 }

 .category ol{
 	list-style: none; 
 }

 .category li {
 	padding-bottom: 1em; 
 }

 .category input{
    border-radius: 15px;
    opacity: 0.8;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    display: block;  
 }

 .category input{
      width: 19em;
      position: relative;
      left: -1em;

 }

#button1 button{
    position: relative;
    color: white;
    background: orange !important;
    border-style: none;
    font-size: 15px; 
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 13em;
    left: -1em;
    top: 1em;

}


#button2 button{
    position: relative;
    color: white;
    background: orange !important;
    border-style: none;
    font-size: 15px; 
    font-weight: bold;
    margin-right: auto;
    margin-left: auto;
    display:block; 
    width: 13em; 
    left: -1em;
    top: 1em;
}




.category button:hover{
     box-shadow:
                1px 1px yellow,
                2px 2px yellow,
                3px 3px yellow;
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
   
}

.category:hover{
      box-shadow:
                1px 1px yellow,
                2px 2px yellow,
                3px 3px yellow;
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
}


/*  MEDIA QUERIES */









