*{
	box-sizing: border-box;
}

html, body, .container-fluid{
	height: 102%;
	min-width: 100%
}



html{
	overflow-x: hidden;
}



.container-fluid{
	background: url('https://s-media-cache-ak0.pinimg.com/originals/19/d7/86/19d7867c2bc2584dfaae78a9e6b1171f.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-left: 0px !important;  


}



/*START HEADER BANNER*/

.header{
    background-color: orange;
    background: -webkit-linear-gradient(left top, orange, red); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, orange, red); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, orange, red); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, orange, red); /* Standard syntax (must be last) */
    color: white;
    width: 100%;
    height: 18vh;
    position: absolute;
    top: -1em;
    margin-top: 1em;
    padding: 0em 0em 2.97em 1em;
    margin-left: -1em;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow: 3px 3px 5px 6px #ccc;  /* Firefox 3.5 - 3.6 */
    box-shadow: 3px 3px 20px 0px #777272;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */  
}



 /* START SOCIAL MEDIA ICONS*/
 .fa {
    float: right;
   /* top: 1.3em;
    left: 77em;*/
    padding: 15px;
    width: 41px;
    height: 41px;
    text-align: center;
    text-decoration: none;
    margin: 66px 1px;
    border-radius: 51%;
}


.fa:hover {
    opacity: 0.7; 
    color: black;
    background-color: yellow; 
    text-decoration: none; 
  
}



/* Facebook */
.fa-facebook {
    background: #444;
    color: white;
}

/* Twitter */
.fa-twitter {
    background: #444;
    color: white;
}

/* Instagram*/
.fa-instagram {
  background: #444;
  color: white;
}

/* Snapshat*/
.fa-snapchat-ghost {
  background: #444;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

/* Tumblr*/
.fa-tumblr {
  background: #444;
  color: white;
}

/* END OF HEADER BANNER*/


#home a{
    position: absolute;
    left: 5em;
    top: 6.5em;
    color: white;
    font-size: 20px;
    
}

#home a:hover{
    animation-timing-function: ease;
    animation-name: gohome;
    animation-duration: 3s;

} 

@keyframes gohome {
   from{right: 15px; 
   }
   to{left: 12px;
   }
}



 /**************START RESULT CARDS**********/
 .cards{
 	float: right !important;
    margin-top: 14em; 
    margin-right: -4em; 
    padding-top: 20px;
    padding-bottom: 20px;  
 	height: 50%;
    width: 30% !important;
 	color: white;
    border-radius: 5px; 
    text-transform: uppercase;
    text-align: center;
 	background: purple;
 	background: -webkit-linear-gradient(left top, orange, red); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, orange, red); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, orange, red); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, orange, red); /* Standard syntax (must be last) */
 	-webkit-box-shadow: 3px 3px 5px 6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  	-moz-box-shadow: 3px 3px 5px 6px #ccc;  /* Firefox 3.5 - 3.6 */
  	box-shadow: 3px 3px 20px 0px #777272;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
 }

 .cards a{
    color: white;
    text-decoration: none; 
 }

 .cards:hover{
        box-shadow:
                1px 1px yellow,
                2px 2px yellow,
                3px 3px yellow;
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
}

.cards2:hover{
     box-shadow:
                1px 1px yellow,
                2px 2px yellow,
                3px 3px yellow;
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);

}

 .cards2 a{
    color: white;
    text-decoration: none; 

 }

 .card  a:hover{
    text-decoration: underline;
    color: skyblue !important;
 }

 .cards2 a:hover{
    text-decoration: underline;
    color: skyblue !important;

 }

 .card-image  img{
    display: block; 
    width: 50%;
    height: 50%;
    margin-right: auto;
    margin-left: auto;

 }

 .card-image2 img{
    display: block; 
    width: 50%;
    height: 50%;
    margin-right: auto;
    margin-left: auto;

 }

 .cards2{
    float: right !important;
    margin-top: -21.3em;
    margin-right: 23em;
    padding-top: 20px;
    padding-bottom: 20px;   
    height: 50%;
    width: 30% !important;
    color: white;
    border-radius: 5px; 
    text-transform: uppercase;
    text-align: center;
    background: purple;
    background: -webkit-linear-gradient(left top, orange, red); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, orange, red); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, orange, red); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, orange, red); /* Standard syntax (must be last) */
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow: 3px 3px 5px 6px #ccc;  /* Firefox 3.5 - 3.6 */
    box-shadow: 3px 3px 20px 0px #777272;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
 }

 
/******SEARCH CARD STYLES********/


 .category{
 	position: fixed !important;
 	padding-top: 2em;
 	top: 16em;
 	left: 5em;
 	height: 35%;
    border-radius: 5px;
 	background: purple;
 	background: -webkit-linear-gradient(left top, orange, red); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, orange, red); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, orange, red); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, orange, red); /* Standard syntax (must be last) */
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  	-moz-box-shadow: 3px 3px 5px 6px #ccc;  /* Firefox 3.5 - 3.6 */
  	box-shadow: 3px 3px 20px 0px #777272;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */

 }

 .category ol{
 	list-style: none; 
 }

 .category li {
 	padding-bottom: 1em; 
 }

 .category input{
    border-radius: 15px;
    opacity: 0.8;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    display: block;  
 }

 .category input{
      width: 19em;
      position: relative;
      left: -1em;

 }

#button1 button{
    position: relative;
    color: white;
    background: orange !important;
    border-style: none;
    font-size: 15px; 
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 13em;
    left: -1em;
    top: 1em;

}


#button2 button{
    position: relative;
    color: white;
    background: orange !important;
    border-style: none;
    font-size: 15px; 
    font-weight: bold;
    margin-right: auto;
    margin-left: auto;
    display:block; 
    width: 13em; 
    left: -1em;
    top: 1em;
}




.category button:hover{
     box-shadow:
                1px 1px yellow,
                2px 2px yellow,
                3px 3px yellow;
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
   
}

.category:hover{
      box-shadow:
                1px 1px yellow,
                2px 2px yellow,
                3px 3px yellow;
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
}

/* MODALS FOR MESSAGE */
/* Outer */
.modal-message {
    width:100%;
    height:100%;
    display:none;
    position:fixed;
    top:0px;
    left:0px;   
}
 
/* Inner */
.modal-inner {
    max-width: 700px;
    width: 90%;
    height: 50%;
    padding: 40px;
    position: fixed;
    top: 100px;
    box-shadow: 0px 2px 6px rgba(0,0,0,1);
    background: rgba(243, 128, 84, 0.7);
    border-radius: 1%;
    /* color: #ff8000; */
    z-index: 1;
    color: white;
    font-size: 40px;
    text-align: center;
}




/* Close Button */
.modal-close {
    width:30px;
    height:30px;
    padding-top:4px;
    display:inline-block;
    position:absolute;
    top:0px;
    right:0px;
    transition:ease 0.25s all;
    -webkit-transform:translate(50%, -50%);
    transform:translate(50%, -50%);
    border-radius:1000px;
    background:rgba(0,0,0,0.8);
    font-family:Arial, Sans-Serif;
    font-size:20px;
    text-align:center;
    line-height:100%;
    color:#fff;
}
 
.modal-close:hover {
    -webkit-transform:translate(50%, -50%) rotate(180deg);
    transform:translate(50%, -50%) rotate(180deg);
    background:rgba(0,0,0,1);
    text-decoration:none;
}

/*  MEDIA QUERIES */



@media(max-width: 740px) {
    .category {
        height: 15%;
        top: 30em;
        left: 2em;
    }

    .cards{
        margin-top: 58em; 
    }
}

@media(min-width: 1000px){
    html{ 
        height: 100%; 
    } 
    
}











