
html{
    overflow-x: hidden;
    height: 75%;
    box-sizing: border-box;
    display: block;
}
 
body {
    height: 100%;
    width: 100%;
    font-family: 'Assistant', sans-serif; 
}
video { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
/*    transition: 1s opacity;*/
}
.container{
    /* display: grid; */
    height: 100vh; 
    width: 100%;  
}
/***** HEADER********/
.one{
    /* background-color: #54b0f3; */
    background-color: #f4bc33;
    /* background-image: url('http://i.imgur.com/kGsm0uk.gif'); */
    width: 101%;
    height: 58px;
    padding:  7px; 
    position: fixed;
    top: 0px; 
    z-index: 1;
    box-shadow:0px 2px 6px rgb(191,181,182); 
}
.icons {
    float: left;
    padding: 11px;
    width: 41px;
    height: 41px;
    text-align: center;
    margin: 3px 6px;
    text-decoration: none;
    border-radius: 51%;
    background-color: #54b0f3;
    color: white;
}
/* Add a hover effect if you want */
.icons:hover {
    /* opacity: 0.7; */
    /* background-color: #eee; */
    background-color: #ff8000;
    color: black;
}
#user-items{
    display: flex;
    margin-right: -26em;
    float: right;
    padding-right: 34em;
}
#user-modal img{
    width: 20px;  
    /* margin-left: 2em;  */
    
}
#search-modal img{
    width: 33px;
    
}
  
#question-modal img{
    width: 33px; 
    /* margin-left: -3em; */
}
/********  MODALS *********/
/* Outer */
.modal-user {
    width:100%;
    height:100%;
    display:none;
    position:fixed;
    top:0px;
    left:0px;   
}
 
/* Inner */
.modal-inner {
    max-width:700px;
    display: flex; 
    width:90%;
    padding:40px;
    position:fixed;
    top:100px;
    left:48em;
    /* -webkit-transform:translate(-50%, -50%);
    transform:translate(-50%, -50%); */
    box-shadow:0px 2px 6px rgba(0,0,0,1);
    background:rgba(84,176,243,0.8);
    border-radius: 10px; 
    color: white;
    z-index: 1;  
}
 
/* Close Button */
.modal-close {
    width:30px;
    height:30px;
    padding-top:4px;
    display:inline-block;
    position:absolute;
    top:0px;
    right:0px;
    transition:ease 0.25s all;
    -webkit-transform:translate(50%, -50%);
    transform:translate(50%, -50%);
    border-radius:1000px;
    background:rgba(0,0,0,0.8);
    font-family:Arial, Sans-Serif;
    font-size:20px;
    text-align:center;
    line-height:100%;
    color:#fff;
}
 
.modal-close:hover {
    -webkit-transform:translate(50%, -50%) rotate(180deg);
    transform:translate(50%, -50%) rotate(180deg);
    background:rgba(0,0,0,1);
    text-decoration:none;
}
/*  MODALS FOR SEARCH*/
/* Outer */
.modal-user1 {
    width:100%;
    height:100%;
    display:none;
    position:fixed;
    top:0px;
    left:0px;   
}
 
/* Inner */
.modal-inner1 {
    max-width:700px;
    width:90%;
    padding:40px;
    position:fixed;
    top:100px;
    left:350px;
    /* -webkit-transform:translate(-50%, -50%);
    transform:translate(-50%, -50%); */
    box-shadow:0px 2px 6px rgba(0,0,0,1);
    background:rgba(84,176,243,0.8);
    border-radius: 10px; 
    color: white; 
    z-index: 1; 
}
 
/* Close Button */
.modal-close1 {
    width:30px;
    height:30px;
    padding-top:4px;
    display:inline-block;
    position:absolute;
    top:0px;
    right:0px;
    transition:ease 0.25s all;
    -webkit-transform:translate(50%, -50%);
    transform:translate(50%, -50%);
    border-radius:1000px;
    background:rgba(0,0,0,0.8);
    font-family:Arial, Sans-Serif;
    font-size:20px;
    text-align:center;
    line-height:100%;
    color:#fff;
}
 
.modal-close1:hover {
    -webkit-transform:translate(50%, -50%) rotate(180deg);
    transform:translate(50%, -50%) rotate(180deg);
    background:rgba(0,0,0,1);
     text-decoration:none;
}
/*  MODALS FOR QUESTIONS*/
/* Outer */
.modal-user2 {
    width:100%;
    height:100%;
    display:none;
    position:fixed;
    top:0px;
    left:0px;
}
 
/* Inner */
.modal-inner2 {
    max-width:700px;
    width:90%;
    padding:40px;
    position:fixed;
    top:100px;
    left:350px;
    /* -webkit-transform:translate(-50%, -50%);
    transform:translate(-50%, -50%); */
    box-shadow:0px 2px 6px rgba(0,0,0,1);
    background:rgba(84,176,243,0.8);
    border-radius: 10px; 
    color: white;  
    z-index: 1;
}
 
/* Close Button */
.modal-close2 {
    width:30px;
    height:30px;
    padding-top:4px;
    display:inline-block;
    position:absolute;
    top:0px;
    right:0px;
    transition:ease 0.25s all;
    -webkit-transform:translate(50%, -50%);
    transform:translate(50%, -50%);
    border-radius:1000px;
    background:rgba(0,0,0,0.8);
    font-family:Arial, Sans-Serif;
    font-size:20px;
    text-align:center;
    line-height:100%;
    color:#fff;
}
 
.modal-close2:hover {
    -webkit-transform:translate(50%, -50%) rotate(180deg);
    transform:translate(50%, -50%) rotate(180deg);
    background:rgba(0,0,0,1);
     text-decoration:none;
}

#login{
    border: 3px solid white;
    height: 10em;
    width: 10em;
  /*   position: relative;
    left: 9em;
    top: 4.4em; */
    margin-right: 14em;
}
#login img{
    position: relative;
    left: 3em;
    top: -1.5em;
    width: 4em;
    height: 4em;
}
#login a{
    color: white;
    text-align: center;
    position: relative;
    top: 9em; 
    font-family: 'Heebo', sans-serif;
}
#join{
    border: 3px solid white;
    height: 10em;
    width: 10em;
   /*  position: relative;
    left: 25em;
    top: -6em;  */
}
#join img{
    position: relative;
    left: 3.6em;
    top: -2.9em;
    width: 4em;
    height: 4em;
}
#join a{
    position: relative; 
    top: 9em;
    color: white;
    font-family: 'Heebo', sans-serif;
    text-align: center;
    text-decoration: none; 
}
.search-item input{
    width: 100%;
    height: 3em;
    position: relative;
    top: 0em; 
    color: black;
}
.search-item img{
    width: 1.5em;
    height: 1.5em;
    position: relative;
    top: -2em;
    left: 41em;
}
/***** END OF HEADER********/
/*  START TITLE */
.two{
    /* grid-row: 2/3; */
    /* width: 136%; */
    /* height: 50px; */
    /* margin-top: -1em;    */
}

.fest-title{  
    /* background: white;  */
    background-image: url('../Images/festopia-bg.png');
    background-repeat: no-repeat;
    /* overflow: hidden; */
    /* font-family: 'Berkshire Swash', cursive; */
    font-family: Helvetica, sans-serif;
    /* font-weight: lighter; */
    /* position: absolute; */
    /* left: 0em;  */
    opacity: 0.9; 
    text-align: center;
    font-size: 95px;
    color: #f4bc33;
    height: 84vh; 
    width: 100vw;
    /* margin-top: 40px; */
    background-size: cover;
    margin-left: 0px;
    
  
    /* line-height: 1em; */
}


.page-name h1{
    position: relative; 
    font-weight: lighter;
    top: 4em; 
    font-family: 'Eagle Lake', cursive;
    font-size: 1em; 
    text-transform: uppercase;
    
}
.page-name h3{
    position: relative;
    top: 11em;
    font-family: 'Heebo', sans-serif;
    font-weight: lighter;
    font-size: 35px; 
    color: white !important;
    
}
/*
.page-name img{
    width:100%;
    height: 125%;
    margin-top: -6em;
}*/
/********  START NAV***********/
.three{
    background-color: #f4bc33;
    width: 100%;
    color:white;
    font-size: 26px;
    font-weight: bold;
    /* padding-top: 1em; */
    text-transform: uppercase;
    font-family:'Heebo', sans-serif;   
}
#text a{
    text-decoration: none; 
    color: white;
    position: relative;
    left: -6em;
}
.nav-item2 a{
    text-transform: uppercase;
    background-color:#f4bc33; 
    font-family:'Heebo', sans-serif; 
    color: white; 
    font-size: 26px;
    font-weight: bold; 
    text-decoration: none;
 
}
.text-center{
    background-color: #f4bc33;
}


#all-fest a{
    left: -16em;
}
#tickets a{
    left: -1em;
}
#map a{
    left: 9em;
    border-style: none;
}
/* DROPDOWN SECTION*/
/* .dropdown {
    display: inline-block;
    float: left;
} */
.dropdown-content {
    display: none;
    position: absolute;
    text-align: center;
    background:rgba(84,176,243,0.7);
    border-radius: 10px;
    width: 15em;
    padding-top: 10px;
    padding-right: 30px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a{
 color: white;
}
.dropdown:hover .dropdown-content {
    display: block;
}
/* #catDrop{
    position: relative;
    border-right: 2px dotted gray;
    padding-right: 1em;
    left: 2em;
} */
 #monthDrop{
    position: relative;
    left: 6em;
} 
.month-items, .cat-items{   
    width: 100%;
}
ol{
    list-style: none;
}
/*  MAIN PAGE*/
.four{
    /* grid-row: span 2/5; */
    width: 100%;
    height: 600px;
    /* margin-top: 6em;  */   
}
/*.six{
    background-color: yellow*/
    /* grid-row: span 1/2; */
 /*   width: 100%;
    
}*/
.seven{
    /* grid-row: span 1; */
/*     position: fixed;
    bottom: 0; */
    width: 100%;      
}


.seven-footer{
    color: white;
    font-family: 'Heebo', sans-serif;
    height: -8vh;
    position: fixed;
    top: 74em;
    /* font-size: 1em; */
    height: 6vh;
    width: 100vw;
}


/* MEDIA QUERIES */

@media (min-width:400px){
    .fest-title {
        margin-left: -2em;
        height: 43vh;
        width: 120vw;

    }
    .one{
        width: 102%;
    }
    .page-name h1{
        font-size: 65px;
        top: 3em;
    }
    .page-name h3{
        font-size: 23px;
        top: 8em;
    }
    #user-items{
        padding-right: -1px;
    }
    #search-modal{
        margin-right: 2em;
    }
    #user{
        margin-left: -2em;
    }

}


@media (min-width:770px){
    .fest-title {
        margin-left: -2em;
        height: 61vh;

    }
    .one{
        width: 102%;
    }
    .page-name h1{
        font-size: 65px;
    }
    .page-name h3{
        font-size: 23px;
    }

}


@media (min-width:1200px){

     .fest-title {
        margin-left: -2em;
        height: 60vh;
        width: 120vw;
    }
    .page-name h1{
        top: 3.5em;
        font-size:1.5em;
    }
    .page-name h3{
    font-size: 0.5em;
    top: 10em;
    }


}
/* Devices */
/* @media(min-width:1200px){
@media only screen and (max-device-width: 1200px){
    .page-name h1{
        font-size: 71px;
    }
    .fest-title{
        height: 29vh;
        width: 102vw;
        top: 14px;
    }
    .page-name h3{
        top: 15vh;
    }
    #user-items{
        position: relative;
        margin-top: -45px;
        margin-right: 188px;
    }
    .three.main-nav.text-center{
        width: 61vw;
    }
    #second-row{
        width: 50vh;
    }
} */


@media only screen and (max-device-width: 640px){
    .page-name h1{
        font-size: 44px;
    }
}





