/*REGISTER CSS STARTS HERE*/

body {
  font-family: Montserrat, sans-serif;
  font-size: 10px;
  color: black;
  overflow: hidden;
}

.form-container{
  position: absolute;
  display: inline-block;
  margin: 10vh auto 0 auto;
  max-width: 960px;
  width: 100%;
  left:52%;
  transform: translateX(-50%);
  margin-top: 17px;
  
}

#thankYou {
  font-size: 24px;
  color: white;
}


label{
  font-size: 2rem;
}

h1{
  font-size: 2rem;
  color: black;
  font-family: 'Eagle Lake', cursive;
  /* text-transform: uppercase; */
}


span, button{
  font-size: 1.2rem;
}

/* ---------------
  Container styles
*/

.container {
  width: 100%;
  height: 100vh;
  background-color: #f4bc33;
}

  .input-group{
    margin-left: -9em;
  }




.formed {
  display: block;
  position: relative;
  margin: 0 auto 0 auto;
  width: 100%;
  max-width: 960px;
}


.form-section {
  width: 100%;
  opacity: 0;
  position: absolute;
  transform: translateY(200%);
  transition: opacity 0.3s;
}

.form-group input{
  border-radius: 15px !important;
}


.form-section.selected {
  opacity: 1;
  transition: opacity 0.5s, transform 0.5s;
  transform: translateY(0%);
}


input,
textarea{
  margin-top: 20px;
  width: 100%;
  color: #fffed8;
  background-color: transparent;
  border: none;
  border-radius: 0px;
  border-bottom: 2px solid darken(#47555E, 15%);
  font-weight: bold;
  font-size: 2em;
  padding: 10px 0;
}


input:focus, button:focus {
  outline: none;
}
.btn-primary {
  border-radius: 15px !important;
  margin-top: 20px;
  padding: 16px;
}

.title {
  color: black;
  font-size: 6em;
  font-weight: bold;
}

/*REGISTER CSS ENDS HERE*/
@media(min-width:400px){
  .form-group{
    margin-left: 8em;
  }
  .btn-primary{
    margin-right: 6em;
  }
}
